@use "global" as *;

$drawer-width: rem(27); //ドロワーの幅
$drawer-height: rem(1.5); //ドロワー線の高さ
$drawer-color: $black; //ドロワー線の色

.c-hamburger {
  width: inherit;
  height: inherit;
  transition: all 0.3s ease-in-out;
}

.c-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: $drawer-width;
  height: $drawer-height;
  background-color: $drawer-color;
  transition: inherit;
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: "";
    transition: inherit;
  }
}

.c-hamburger__line::before {
  top: rem(-6);
}
.c-hamburger__line::after {
  top: rem(8);
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line {
  background-color: transparent;
  &::before,
  &::after {
    top: 0;
    background-color: $drawer-color;
  }
}
.c-hamburger[aria-expanded="true"] .c-hamburger__line::before {
  transform: rotate(45deg);
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::after {
  transform: rotate(-45deg);
}
