@use "global" as *;

.p-features {
  padding-top: rem(56);
  padding-bottom: rem(26);
  @include mq("md") {
    padding-top: rem(72);
  }
}

.p-features__titile {
  text-align: center;
  font-family: $second-font-family;
  font-size: rem(24);
  line-height: 1.4;
  @include mq("md") {
    font-size: rem(40);
  }
}

.p-features__content {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.p-features__items {
  display: flex;
  flex-direction: column;
  gap: rem(115);
  @include mq("md") {
    margin-top: rem(40);
    gap: rem(42);
  }
}

.p-features-item__img {
  aspect-ratio: 360/330;
}

.p-features-item__texts {
  @include mq("md") {
    max-width: vw(1440, 650);
  }
}
