@use "global" as *;

.p-qa {
  position: relative;
  background: linear-gradient(0deg, #daf1f9 -13.21%, rgba(218, 241, 249, 0) 0%);
  padding: rem(68) 0 rem(46);
  @include mq("md") {
    padding: rem(80) rem(113);
  }
}

.p-qa::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(16);
  aspect-ratio: 390/16;
  background-image: url(.././images/common/qa-bottom__sp.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  @include mq("md") {
    bottom: 0;
    left: 0;
    height: rem(40);
    aspect-ratio: 1440/40;
    background-image: url(.././images/common/qa-bottom__pc.png);
  }
}

.p-qa__inner {
  @include mq("md") {
    max-width: calc(rem(768) + rem(60));
  }
}
.p-qa__heading-wrap {
  text-align: center;
}

.p-qa__boxs {
  display: grid;
  gap: rem(25);
  padding: rem(56) 0;
  @include mq("md") {
    padding: rem(80) 0;
  }
}
