@use "global" as *;

.p-use-swiper {
  width: rem(236);
  margin-top: rem(40);
  @include mq("md") {
    width: rem(500);
  }
  @include mq("lg") {
    width: rem(700);
  }
  @include mq("xl") {
    width: rem(992);
    margin-top: rem(48);
  }
}

.p-use-swiper__img {
  height: 100%;
}

.p-use-swiper__img img {
  height: auto;
}

.p-use-swiper__text {
  text-align: center;
  margin-top: rem(27);
}

.p-use-swiper-button {
  position: relative;
}

.p-use-swiper-button-prev,
.p-use-swiper-button-next {
  position: absolute;
  content: "";
  width: rem(29);
  height: rem(29);
  aspect-ratio: 1/1;
  top: initial;
  bottom: rem(137);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq("md") {
    bottom: rem(141);
  }
}

.p-use-swiper-button-prev {
  background-image: url(.././images/common/swiper-button-left.png);
  left: calc(50% - rem(172));
  @include mq("md") {
    left: 8%;
  }
}

.p-use-swiper-button-next {
  background-image: url(.././images/common/swiper-button-right.png);
  right: calc(50% - rem(172));
  @include mq("md") {
    right: 8%;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.p-use-swiper-pagination {
  position: static;
  margin-top: rem(33);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.swiper-pagination-bullet {
  width: rem(12);
  height: rem(12);
  background: #b6b7b7;
  @include mq("md") {
    width: rem(8);
    height: rem(8);
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 rem(8);
  @include mq("md") {
    margin: 0 rem(4);
  }
}

.swiper-pagination-bullet-active {
  background: #6c6e6f;
}
